@page
@model AplicatieManagementStudenti.Pages.Cursuri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Curs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Curs.CursID" class="control-label"></label>
                <input asp-for="Curs.CursID" class="form-control" />
                <span asp-validation-for="Curs.CursID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curs.Titlu" class="control-label"></label>
                <input asp-for="Curs.Titlu" class="form-control" />
                <span asp-validation-for="Curs.Titlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curs.Credite" class="control-label"></label>
                <input asp-for="Curs.Credite" class="form-control" />
                <span asp-validation-for="Curs.Credite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
