@page
@model AplicatieManagementStudenti.Pages.Inscrieri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inscriere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inscriere.CursID" class="control-label"></label>
                <select asp-for="Inscriere.CursID" class ="form-control" asp-items="ViewBag.CursID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Inscriere.StudentID" class="control-label"></label>
                <select asp-for="Inscriere.StudentID" class ="form-control" asp-items="ViewBag.StudentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Inscriere.Nota" class="control-label"></label>
                <input asp-for="Inscriere.Nota" class="form-control" />
                <span asp-validation-for="Inscriere.Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
